<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968574296889-04o45vvhblcp20phab0t1on610h1kv10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968574296889-04o45vvhblcp20phab0t1on610h1kv10</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>968574296889-7aml90v30u5evmfia76e5737e6jner6n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBASA6jP9K48-QhccrVv30nqUfZt9Fl0ak</string>
	<key>GCM_SENDER_ID</key>
	<string>968574296889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.investorstrust</string>
	<key>PROJECT_ID</key>
	<string>investortrust-46368</string>
	<key>STORAGE_BUCKET</key>
	<string>investortrust-46368.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968574296889:ios:107b0d473906a901</string>
	<key>DATABASE_URL</key>
	<string>https://investortrust-46368.firebaseio.com</string>
</dict>
</plist>